braintree==4.5.0
certifi==2020.11.8
chardet==3.0.4
dj-database-url==0.5.0
Django==2.2.13
django-crispy-forms==1.10.0
django-heroku==0.3.1
django-localflavor==3.0.1
django-reservation==0.2.9
django-tempus-dominus==5.1.2.13
gunicorn==20.0.4
idna==2.10
Pillow==8.1.1
psycopg2==2.8.4
python-stdnum==1.14
pytz==2020.4
requests==2.25.0
sqlparse==0.4.1
urllib3==1.26.2
whitenoise==5.2.0
