<!-- templates/registration/password_change.html -->
{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Enter new password{% endblock %}

{% block content %}
<div class="container" style="margin-top: 1%; justify-content: center; margin-left: 25%;">
  <div class="card bg-dark text-white align-items-center" style="max-width: 600px;">
    <h5 class="card-header">Change password!</h5>
    <form method="POST">
      {% csrf_token %}
      {{ form|crispy }}
      <button type="submit" class="btn btn-warning" style="margin-top: 1%;">Change my password</button>
    </form>
  </div>
  </div>
{% endblock %}