{% extends 'base.html' %}
{% block content %}
<div >
    <div class="row" align="center">
        <a href="{% url 'park_add' %}" class="row"><span
                class="btn btn-primary">Add Park Property</span></a>
    </div>
</div>
<p></p>
    <div class="card-deck">
        {% for parks in parks  %}
        <div class="card">
            <div class="card-body" style="max-wdith: 300">
                <img class="card-img-top" src={{parks.park_image}} alt="">
                <h5 class="card-title">{{ parks.park_name }}</h5>
                <p class="card-subtitle">{{ parks.park_addr }}</p>
                <p class="card-text">{{ parks.park_contact }}</p>
            </div>
            <div class="card-footer">
                <a class="btn btn-info" href="{% url 'park_details' parks.pk %}">Property Details</a>
                <a class="btn btn-warning" href="{% url 'park_edit' parks.pk %}">Edit</a>
                <a class="btn btn-danger" href="{% url 'park_delete' parks.pk %}">Delete</a>
            </div>
        </div>  
        {% if forloop.counter|divisibleby:3 %}
    </div>
    <br>
        <div class="card-deck">
        {% endif %}
    {% endfor %}
{% endblock %}