{% extends 'base.html' %}

{% block content %}
<p></p>
<div class="card-deck">
    {% for parkprops in parkprops  %}
    {% if parkprops.park_name.id == object.id %}
        <div class="card">
            <div class="card-body" style="max-width: 300;">
                <h5 class="card-title">{{ parkprops.property_name }}</h5>
                <img class="card-img-top" src={{parkprops.property_image}} alt="">
                <p class="card-text">Location: {{ parkprops.property_location }} | Capacity: {{ parkprops.property_guest_capacity }} | Price: {{ parkprops.property_price }}</p>
                <p class="card-text">Description: {{ parkprops.property_description }}</p>
            </div>
            <div class="card-footer">
                <a class="btn btn-info" href="{% url 'propavailability_list' parkprops.pk %}">Availability</a>
                <a class="btn btn-warning" href="{% url 'parkprop_edit' parkprops.pk %}">Edit</a>
                <a class="btn btn-danger" href="{% url 'parkprop_delete' parkprops.pk %}">Delete</a>
            </div>
        </div>   
    {% if forloop.counter|divisibleby:3 %}
</div>
    <br>
            <div class="card-deck">
            {% endif %}
    {% endif %}
    {% endfor %}
{% endblock %}