{% extends 'base.html' %}
{% block content %}
<p></p>
<h2 style="padding-left: 15Px">{{ object.property_name }} Availability at {{ object.property_name.id.park_name }}</h2>
<div class="card-deck">
    {% for propertyava in propertyava  %}
    {% if propertyava.property_name.id == object.id %}
        <div class="card">
            <div class="card-body" style="max-width: 300;">
                <p class="card-text">{{ propertyava.property_availability_date }}</p>
                <p class="card-text">{{ propertyava.property_availability_starttime }} to {{ propertyava.property_availability_endtime }}</p>
            </div>
            <div class="card-footer">
                <a class="btn btn-info" href="{% url 'reservation' propertyava.pk %}">Reserve</a>
            </div>
        </div>   
    {% if forloop.counter|divisibleby:3 %}
</div>
    <br>
            <div class="card-deck">
            {% endif %}
    {% endif %}
    {% endfor %}
{% endblock %}