{% extends 'base.html' %}
{% block content %}
<p></p>
    <div class="card-deck">
    {% for propstatuses in propstatuses %}
        <div class="card text-white bg-dark mb-3">
            <div class="card-body" style="max-wdith: 300">
                <p><b>Report Time: </b>{{ propstatuses.property_report_time }}</p>
                <p><b>Description: </b>{{ propstatuses.property_status_description }}</p>
                <p><b>Expenses: </b>{{ propstatuses.property_expenses }}</p>
                <p><b>Additional Notes: </b>{{ propstatuses.property_status_notes }}</p>
                <p><b>Maint Staff: </b>{{ propstatuses.maint_staff_email.first_name }} {{ propstatuses.maint_staff_email.last_name }}</p>
                <p><b>Reservation Deatils: </b>{{ propstatuses.reservation_id.property_availability_id.property_name }} at {{ propstatuses.reservation_id.property_availability_id.property_name.park_name.park_name}}<br>
                <b>Renter: </b> {{ propstatuses.reservation_id.renter_email.first_name }} {{ propstatuses.reservation_id.renter_email.last_name }} | 
                    {{ propstatuses.reservation_id.renter_email.user_phone }} | {{ propstatuses.reservation_id.renter_email.email }}
                </p>
            </div>
            <div class="card-footer">
                {% if request.user|has_group:"maintenanceworker" %}
                <a href="{% url 'propstatus_edit' propstatuses.pk %}" class="btn btn-warning">Edit</a>
                <a href="{% url 'propstatus_delete' propstatuses.pk %}" onclick="return confirm('Are you sure you want to delete?')" class="btn btn-danger">Delete</a>
                {% endif %}
            </div>
        </div>
    {% if forloop.counter|divisibleby:3 %}
    </div>
        <div class="card-deck">
        {% endif %}
    {% endfor %}
        <div class="row" align="center">
            <a href="{% url 'propstatus_add' %}" class="row"><span
                    class="btn btn-primary">Add Property Status</span></a>
        </div>
    </div>
{% endblock %}