{% extends 'base.html' %}
{% block content %}
<html>
    <head>
        <meta charset="UTF-8">
        <title>Park Reservation System</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    </head>
<body>
    <h2 style="padding-left: 15Px">Park Property Availability Information for {{ object.property_name }}</h2>
    <div>
        {% for propertyava in propertyava  %}
        {% if propertyava.property_name.id == object.id %}
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ propertyava.property_name }}</h5>
                    <p class="card-text">{{ propertyava.property_availability_date }}</p>
                    <p class="card-text">{{ propertyava.property_availability_starttime }}</p>
                    <p class="card-text">{{ propertyava.property_availability_endtime }}</p>
                </div>
                <div class="card-footer">
                    <a class="btn btn-info" href="{% url 'reservation' propertyava.pk %}">Reserve</a>
                </div>
            </div>
            <p></p>
        {% endif %}
        {% endfor %}
    </div>

</body>
</html>
{% endblock %}