{% extends 'base.html' %}
{% block content %}
<div class="container" style="margin-top: 20px;">
    <div class="card text-white bg-dark mb-3">
      <div class="card-header"><h2>Reporting Options</h2></div>
        <div class="card-body">
          <a href="{% url 'export_Park' %}" class="btn btn-block btn-info">Export Park Data</a>
          <a href="{% url 'export_ParkProperty' %}" class="btn btn-block btn-info">Export Property Data</a>
          <a href="{% url 'export_ParkPropertyAvailability' %}" class="btn btn-block btn-info">Export Availability Data</a>
          <a href="{% url 'export_PropertyStatus' %}" class="btn btn-block btn-info">Export Reservation Status Data</a>
          <a href="{% url 'export_Reservation' %}" class="btn btn-block btn-info">Export Reservation Data</a>
          <a href="{% url 'export_Transaction' %}" class="btn btn-block btn-info">Export Transaction Data</a>
        </div>
      <div class="card-footer">
      </div> 
      </div>
    </div>

{% endblock content %}


