{% extends 'base.html' %}

{% block content %}
    <div class="card-deck">
        {% for reservation in object_list  %}
            <div class="card">
                <div class="card-body" style="max-width: 300;">
                <h5 class="card-title">{{ reservation.property_availability_id.property_name }}</h5>
                <p class="card-text"><b>Reserverd for:</b> {{ reservation.renter_email.first_name }} {{reservation.renter_email.last_name}}</p>
                <p class="card-text"><b>Status:</b> {{ reservation.res_status }}</p>
                </div>
                <div class="card-footer">
                    <a class="btn btn-info" href="{% url 'reservation_detail' reservation.pk %}">Details</a>
                </div>
            </div>  
            {% if forloop.counter|divisibleby:3 %}
            </div>
            <br>
            <div class="card-deck">
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}