{% extends 'base.html' %}
{% block content %}

<div style="display: flex;
justify-content: center;
align-items: center;
height: auto;">
    <div class="card" style="width: 18rem; margin-top: 20px;">
    <div class="card-body">
      <h5 class="card-title">Reservation for {{ object.property_availability_id.property_name }}</h5>
      <p class="card-text">Here are the details of your park reservation.</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">{{object.property_name}}</li>
      <li class="list-group-item">{{object.res_size}}</li>
      <li class="list-group-item">{{object.renter_email.first_name}}</li>
    </ul>
    <div class="card-body">
      <a class="btn btn-danger" href="{% url 'reservation_delete' object.pk %}" class="card-link">Cancel Reservation</a>
    </div>
  </div>
</div>

{% endblock %}