{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% debug %}
{% block content %}
<div class="container" style="margin-top: 20px;">
    <div class="card text-white bg-dark mb-3">
      <div class="card-header"><h2>Confirm Reservation</h2></div>
            <div class="card-body">
                <form method="POST" class="parkprop-form">
            <p><b>Renter:</b> {{ request.user.first_name }} {{ request.user.last_name }}</p>            
            <p><b>Property:</b> {{ object.property_name.property_name }}</p>
            <p><b>Reservation Date:</b> {{ object.property_availability_date }}</p>
            <p><b>Time Slot:</b> {{ object.property_availability_starttime }} - {{ object.property_availability_endtime }}</p>
            
                {% csrf_token %}
                {{ form|crispy }}
           
        </div>        
        <div class="card-footer">
            <script src="https://api.ravepay.co/flwv3-pug/getpaidx/api/flwpbf-inline.js"></script>
            <button type="button" onClick="payWithRave()" align="center" class="save btn btn-info">Checkout</button>
        </div>
        </form>
    </div>
    </div>
    <script>
        console.log("{{object}}")
    </script>
    <script>
        const publicKey = "{{ key }}";
        console.log("{{propertyava.property_name.property_price}}")
        function payWithRave() {
            var x = getpaidSetup({
                PBFPubKey: publicKey,
                customer_email: "{{request.user.email}}",
                amount: "{{propertyava.property_name.property_price}}",
                customer_phone: "{{request.user.user_phone}}",
                currency: "USD",
                txref: "rave-123456",
                custom_title: "Wildlife Park",
                onclose: function() {},
                callback: function(response) {
                    var txref = response.tx.txRef;
                    console.log("This is the response returned after a charge", response);
                    if(
                          response.tx.chargeResponseCode == "00" ||
                          response.tx.chargeResponseCode == "0"
                      ) {
                          document.location.href = "reservation_list"
                              // redirect to a success page
                      } else {
                          // redirect to a failure page.
                          document.location.href = "failure"
                      }
                    x.close();
                }
            });
        }
    </script>
{% endblock %}