{% extends 'base.html' %}
{% load filters %}
{% block content %}
  <div class="container">
    <div class="row" style="justify-content: center;">
      <h2 >Park Data Management</h2>
    </div>
    <div class="row" style="justify-content: center;">
        {% if user.is_authenticated %}
      <div class="card-deck">
        <div class="card text-white bg-dark mb-3">
          <div class="card-header"><h5>Create Operations</h52>
            <div class="card-body">
              {% if request.user|has_group:"Admin" %}
              <a href="{% url 'park_add' %}" class="btn btn-block btn-info">Add Park</a>
              <a href="{% url 'parkprop_add' %}" class="btn btn-block btn-info">Add Park Property</a>
              <a href="{% url 'propavailability_create' %}" class="btn btn-block btn-info">Add Property Availability</a>
              {% endif %}
              {% if request.user|has_group:"maintenanceworker" %}
              <a href="{% url 'propstatus_add' %}" class="btn btn-block btn-info">Create Reservation Status</a>
              {% endif %}
            </div>
          </div>
          <div class="card-footer">
          </div>  
        </div>
        <div class="card text-white bg-dark mb-3">
          <div class="card-header"><h5>Update/Delete Operations</h5>
            <div class="card-body">
              {% if request.user|has_group:"Admin" %}
              <a href="{% url 'park_list' %}" class="btn btn-block btn-info">Modify Parks</a>
              <a href="{% url 'parkprop_list' %}" class="btn btn-block btn-info">Modify Park Property</a>
              <button class="btn btn-block btn-info" disabled>Admin Panel Access</button>
              {% endif %}
              {% if request.user|has_group:"maintenanceworker" %}
              <a href="{% url 'propstatus_list' %}" class="btn btn-block btn-info">Modify Reservation Status</a>
              {% endif %}
            </div>
          </div>
          <div class="card-footer">
          </div>
        </div>
      </div>
        {% else %}
        {% endif %}
    </div>
  </div>
{% endblock content %}


