{% extends 'base.html' %}
{% load filters %}
<!-- {% load crispy_forms_tags %} -->
{% block content %}
<p></p>
<div class="jumbotron text-white bg-dark mb-3">
  {% if user.is_authenticated %}
  <div class="container ">
    <h1 class="display-4" style="text-align: center;">Albuquerque Parks and Recreation</h1>
    <p></p>
    {% if user.is_authenticated and not request.user|has_group:"maintenanceworker"%}
      {% if user.is_authenticated and not request.user|has_group:"Admin"%}
          <a class="btn btn-block btn-info" href="{% url 'park_list' %}">View parks</a>
      {% endif %}
    {% endif%}
  </div>
  </div>
</div>
  {% else %}
<div class="jumbotron text-white bg-dark mb-3">
  <div class="container">
    <div class="row" style="justify-content: center;">
      <h2 >View Parks or Sign-Up/Login to Reserve</h2>
    </div>
    <div class="row" style="justify-content: center;">

        {% if user.is_authenticated %}
      <div class="col-5">
        <a href="{% url 'park_list' %}" class="btn btn-block btn-info">View parks</a>
      </div>
             {% else %}
          {% endif %}
      <div class="col-5">
        <a href="{% url 'signup' %}" class="btn btn-block btn-info">Sign-Up</a>
      </div>
    </div>
  </div>
    {% endif %}
</div>
{% endblock content %}


